Checks: '*,-misc-const-correctness,-misc-unused-parameters,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-llvmlibc-*,-*-magic-numbers,-hicpp-signed-bitwise,-readability-identifier-length,-altera-id-dependent-backward-branch,-altera-unroll-loops,-bugprone-easily-swappable-parameters,-cert-msc*,-google-readability-todo,-llvm-header-guard,-cppcoreguidelines-avoid-non-const-global-variables,-bugprone-sizeof-expression,-readability-uppercase-literal-suffix,-cert-dcl16-c,-hicpp-uppercase-literal-suffix,-bugprone-suspicious-include,-performance-no-int-to-ptr,-readability-implicit-bool-conversion,-misc-include-cleaner,-readability-redundant-declaration,-cert-int09-c,-readability-enum-initial-value'
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberCase
    value:           camelBack
  - key:             readability-identifier-naming.ParameterCase
    value:           camelBack
  - key:             readability-identifier-naming.UnionCase
    value:           camelBack
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.IgnoreMainLikeFunctions
    value:           1
  - key:             readability-redundant-member-init.IgnoreBaseInCopyConstructors
    value:           1
  - key:             modernize-use-default-member-init.UseAssignment
    value:           1
